# Database Configuration
DB_HOST=localhost
DB_NAME=datacalls_css_adjusted
DB_USER=root
DB_PASS=

# MagnusBilling API Credentials
MAGNUS_API_KEY=8x9vqM4JWnxUbDZGJm9HHlqKD8R8vvJ3
MAGNUS_API_SECRET=xJdpyCjiVrSrabu2fnN53BNdGCDc0O6B
MAGNUS_PUBLIC_URL=http://72.60.25.185/mbilling
MAGNUS_TTS_API_KEY=dc3c3e74645d2ec7c9b4184827f15778c8b2ce136477e30993b36c69421aa68e

SIP_DOMAIN=72.60.25.185

# Google TTS Voice Settings
GOOGLE_TTS_VOICE_NAME=en-US-Wavenet-H
GOOGLE_TTS_LANGUAGE_CODE=en-US

# App Settings
APP_ENV=production
APP_DEBUG=true
APP_URL=http://localhost/projects/datacalls_css_adjusted

# Variabls for init_call
SESSION_BILL=0.00 # String/decimal ≤ 50 chars
BUY_COST=0.00 # String/decimal ≤ 50 chars
ORIGINATE_TEC=sip # support techs -> sip (used in calls via voip apps), telnum (used for local line calls)
